body {
  background: #2C2F33 !important;
}

.ui.menu {
  width: 100%;
  padding-top: 20px;
}

p.description {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  margin: 12px;
  text-align: center;
}

nav {
  padding-bottom: 100px;
}

.long.button {
  width: 250px;
  color: white;
  text-align: center;
}

.footer {
  bottom: 0;
  width: 100%;
}

.content  {
  color: white !important;
}

@media only screen and (max-device-width: 480px) {
  .footer{
    position: static !important;
  }
}

@media ( min-device-width: 481px ) {
  .footer {
    position: relative;
  }
}
@media only screen and (max-width: 768px) {
  a.item:not(.active) {
    display: none !important;
  }
}

.pageContent {
  height: 70vh;
}